<div>
  <header>
    <nav>
      <form class="research" action="submit">
        <label id="research-label">Research</label>
        <input type="text" />
      </form>
    </nav>
  </header>
  <div class="user-body">
    <div class="trade-market">
      <div class="trade">
        <form>
          <h2>Place Your Trade!</h2>
          <div class="trade-input">
            <label>Symbol</label>
            <input type="text" />
          </div>
          <div class="action-qty-container">
            <div class="trade-input">
              <label>Action</label>
              <select name="action" id="action">
                <option value="Buy">Buy</option>
                <option value="Sell">Sell</option>
              </select>
            </div>
            <div class="trade-input">
              <label>Quantity</label>
              <input type="text" />
            </div>
          </div>
          <div class="trade-input">
            <label>Order Type</label>
            <select name="type" id="type">
              <option value="order-type">Market</option>
            </select>
          </div>
          <input class="submit-btn" type="submit" value="buy/sell" />
        </form>
      </div>
      <div class="news">
        <h1>Market News</h1>
      </div>
    </div>
    <div class="portfolio">
      <h1>Portfolio</h1>
    </div>
  </div>
</div>
